DEPLOY_ENV=production
EPMD_CLUSTER_HOSTS=__PROJECT_SLUG__@10.73.52.206,__PROJECT_SLUG__@10.73.66.50,__PROJECT_SLUG__@10.73.91.49
RELEASE_COOKIE={{ app_erlang_release_cookie }}
DATABASE_URL={{ app_database_url }}
DATABASE_SSL=true
POOL_SIZE=10

SECRET_KEY_BASE="{{ app_secret_key_base }}"

PORT=4000

HOST=__PROJECT_PRODUCTION_HOST__
STATIC_HOST=__PROJECT_PRODUCTION_CDN__
URL_PORT=443
URL_SCHEME=https

SENTRY_DSN_URL="{{ sentry_dsn_url }}"
TELEMETRY=true
