DEPLOY_ENV=staging
EPMD_CLUSTER_HOSTS=none
RELEASE_COOKIE={{ app_erlang_release_cookie }}

DATABASE_URL={{ app_database_url }}
POOL_SIZE=10

SECRET_KEY_BASE="{{ app_secret_key_base }}"

PORT=4000

HOST=__PROJECT_STAGING_HOST__
STATIC_HOST=__PROJECT_STAGING_CDN__
URL_PORT=443
URL_SCHEME=https

SENTRY_CURRENT_ENV=staging
SENTRY_DSN_URL=https://someurl.com
TELEMETRY=true
